@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');

html {
	background-color: rgb(32,32,32);
}

body {
	background-color: rgba(0,0,0,0.97);
	color: rgba(255,255,255,0.7);
	margin: auto;
	width: 80%;
	font-family: "Open Sans";
	padding-bottom: 15px;
}

header, nav, main, footer {
	margin: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dashed rgba(255,255,255,0.5);
}

h1, footer, header, nav {
	text-align: center;
}

.ascii {
	color: rgba(255,255,255,1);
	font-weight: bold;
}

.logo {
	font: 10px/5px monospace;
}

nav ul {
	display: block;
	padding: 0;
}

nav ul li {
	display: inline;
	padding-left: 10px;
}

nav ul li a {
	text-decoration: none;
	color: rgba(255,255,255,1);
}

nav ul li a:hover {
	font-weight: bold;
}

nav img {
	display: inline;
	width: 24px;
	height: 24px;
	border: 0px rgba(255,255,255,0.5);
	margin-left: 0%;
	!important;
}	

a {
	text-decoration: none;
	color: #2A6EA4;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

pre {
	font-family: monospace;
}

.highlighter-rouge {
	color: rgba(255,255,255,0.4);
}

.highlight {
	color: rgba(255,255,255,0.7);
}

.highlight {
	border: 1px dashed rgba(255,255,255,0.3);
	padding: 15px;
	background-color: #0D0D0D;
}

img, main iframe {
	width: 80%;
	margin-left: 10%;
}

main header {
	text-align: center;
	padding-bottom: 15px;
	border: 0;
}

#headerimg {
	width: 100%;
	margin-left: 0;
	border: 0;
}

h1, h2, h3 {
    font-family: 'Black Ops One', cursive;
    font-weight: 400;
}

